body {
    background-color: white; 
    color: black; 
    line-height: 1.6; 
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style: none; 
    padding: 0;
}

li {
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

form {
    margin-top: 10px;
}

.container {
    display: flex;
    height: 100vh;
}

.login-signup {
    text-align: center;
}

input[type="text"], input[type="submit"], button {
    padding: 10px;
    margin-top: 5px;
}

.login-signup > input {
    width: 30%;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 150px);
}

input[type="submit"], button {
    background-color: #5783db; 
    color: white; 
    border: none; 
    cursor: pointer; 
    width: auto; 
    border-radius: 12px;
}

.login-signup > button {
    width: 20%;
    height: 50px;
}

a {
    color: black; 
    text-decoration: none; 
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 1500px;
    margin-top: 1%;
    border-bottom: 0.5px solid black;
    justify-content: stretch;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header > li {
    margin-left: 3%;
    border: none;
    border-radius: 8px;
}

#receivedRequestsList li, #sentRequestsList li {
    display: block;
    width: 70%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    width: 200px;
    height: 97.5vh;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    flex-direction: column;
}

main {
    width: 100vh;
}

.nav-bar li {
    display: block;
    margin-bottom: 0px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li:hover {
    background-color: rgb(180, 180, 180);
}

.nav-bar .no-hover:hover {
    background-color: white;
}

.nav-bar .active {
    background-color: rgb(150, 150, 150);
}
.nav-bar .panel {
    background-color: grey;
}

.nav-bar .active:hover {
    background-color: rgb(114, 114, 114);
}

.end-section {
    border-bottom: 3px solid black;
}

.bottom-element {
    position: absolute;
    bottom: 0;
    width: 166px;
}

.requests {
    padding: 20px; 
    margin-top: 20px;
}

.status {
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
}

.online {
    background-color: green;
}

.offline, .danger {
    background-color: red;
}

.header li:hover {
    background-color: rgb(180, 180, 180);
}

#groupUsers {
    list-style-type: none;
    overflow-y: auto;
    height: 30vh;
}

#groupUsers > li {
    display: block;
}

#sentRequestsList {
    overflow-y: auto;
    height: 15vh;
}

#receivedRequestsList {
    overflow-y: auto;
    height: 15vh;
}

#messageBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 75%; 
    width: 107%; 
    overflow: auto;
    padding: 2px;
    margin-top: 13%;
    padding-right: 20px;
}

#writeMessage {
    width: 70%;
    height: 3vh;
}

#inputBox {
    width: 80%;
    position: fixed;
    bottom: 10px;
}

.message {
    border-radius: 13px;
    padding: 10px;
    width: fit-content;
    min-width: 30px;
}

.sender {
    background-color: skyblue;
}

.receiver {
    background-color: greenyellow;
}

.sidebar {
    display: block;
    margin-bottom: 0px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    flex-grow: 1;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); 
    margin-left: 3%; 
    padding-left: 20px;
}

#roomMembers {
    overflow-y: auto;
    height: 20%;
}

#roomMembers li {
    display: block;
    margin-bottom: 0px;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    margin-top: -15px;
}