{% extends 'base.html' %}

{% block content %}

<div class="login-signup" id="getPassword">
    <p>Before preceding please enter your password again:</p>
    <input id="password"  type="password"/>
    <br>
    <br>
    <button onclick="verifyPassword()">Continue</button>
</div>

<div class="container" style="display: none" id="chatContainer">
    <ul class="nav-bar" style="margin-right: 3%;">
        <li><a href="/friends">Home</a></li>
        <li class="end-section"><a href="/auth/logout">Logout</a></li>
        
        <div id="friendsList">
            <li class="no-hover">Friends</li>
            {% if friends %}
                {% for friend in friends %}
                    {% if room_id == friend.room_id %}
                        <li id="room_{{ friend.room_id }}" class="active" onclick="window.location.href='/chat/{{ friend.room_id }}'">
                            <p style="display: inline;">{{ friend.username }}</p>
                            <span class="status offline" id="status_{{ friend.username }}">Offline</span>
                            <br>
                            <button class="danger" onclick="removeFriend(event, '{{ friend.room_id }}')">Remove Friend</button>
                            <br>
                        </li>
                    {% else %}
                        <li id="room_{{ friend.room_id }}" onclick="window.location.href='/chat/{{ friend.room_id }}'">
                            <p style="display: inline;">{{ friend.username }}</p>
                            <span class="status offline" id="status_{{ friend.username }}">Offline</span>
                            <br>
                            <button class="danger" onclick="removeFriend(event, '{{ friend.room_id }}')">Remove Friend</button>
                            <br>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div id="groupsList">
            <li class="no-hover">Groups</li>
            {% if group_chats %}
                {% for group in group_chats %}
                    {% if room_id == group.pk %}
                        <li class="group-list active" id="room_{{ group.pk }}" onclick="window.location.href='/chat/{{ group.pk }}'">
                            <p style="display: inline;">{{ group.fields.name }}</p>
                            <br>
                            <button class="danger" onclick="removeFriend(event, '{{ group.pk }}')">Leave Chat</button>
                            <br>
                        </li>
                    {% else %}
                        <li class="group-list" id="room_{{ group.pk }}" onclick="window.location.href='/chat/{{ group.pk }}'">
                            <p style="display: inline;">{{ group.fields.name }}</p>
                            <br>
                            <button class="danger" onclick="removeFriend(event, '{{ group.pk }}')">Leave Chat</button>
                            <br>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <li class="bottom-element no-hover">{{ username }}</li>
    </ul>

    <main style="margin-right: 4%;">
        <section id="messageBox"></section>

        <section id="inputBox">
            <input id="writeMessage" placeholder="Send a message">
            <button onclick="send()" id="sendButton">Send</button>
        </section>
    </main>

    <aside class="sidebar">
        {% if room_type %}
            <p>Members of this group chat:</p>
            <ul id="roomMembers"></ul>
            <br>
            <br>
            {% if username == room_owner %}
                <form style="margin-top: 0px;">
                    <label>Add more users to the group chat:</label>
                    <br>
                    <input type="text" id="userToAdd" name="userToAdd" placeholder="Enter a username">
                    <button onclick="addUser(event)">Add user</button>
                    <br>
                    <br>
                    <label>Users in the group chat:</label>
                    <ul id="groupUsers"></ul>
                    <button type="button" onclick="addUsersToGroupChat()">Send Request</button>
                </form>
            {% endif %}

        {% else %}
            <div id="friendInfo">
                <p>Chatting with:</p>
            </div>
        {% endif %}
    </aside>
</div>

<script>
    let roomId = "{{ room_id }}";
    
    const username = "{{ username }}";
    const roomOwner = "{{ room_owner }}";
    const roomType = "{{ room_type }}";

    let salt;
    let iv;
    let privateKey;
    let pwdDerivedKey;

    const sharedSecretKeys = {};

    let socket = new WebSocket('/ws/chat/');

    // when the user presses the "Enter" key, send whatever message the user wrote
    document.getElementById("writeMessage").addEventListener("keyup", function(e) {
        if (e.key === "Enter") {
            send();
        }
    });

    // when the user presses the "Enter" key, submit the password on the initial screen
    document.getElementById("password").addEventListener("keyup", function(e) {
        if (e.key === "Enter") {
            verifyPassword();
        }
    });

    // when the user closes the page, emit a leave event to socket server
    window.addEventListener('beforeunload', () => {
        socket.close();
    });

    socket.onmessage = async function(event) {
        const message = JSON.parse(event.data);

        if (message["type"] === "new_msg") {
            const sender = message["content"][0];
            const msg = new Uint8Array(message["content"][2]);
            const msgIv = new Uint8Array(message["content"][4]);

            const symmetricKey = sharedSecretKeys[sender];
            
            try {
                const decryptedContent = await decryptMessage(symmetricKey, msgIv, msg);

                addMessage(sender, decryptedContent);

                const db = await openDatabase();

                const indexDBMessages = await getData(db, "messages", username);
                let msgHistory = [];

                if (indexDBMessages) {
                    if (indexDBMessages["content"]) {
                        msgHistory = await decryptMsgHistory(indexDBMessages["content"], pwdDerivedKey, iv);
                    }
                }
                else {
                    await addData(db, "messages", {"id": username, "content": ""});
                }

                msgHistory.push({"sender": sender, "content": decryptedContent, "room_id": parseInt(roomId)});
                
                const encryptedMsgHistory = await encryptMsgHistory(msgHistory, pwdDerivedKey, iv);
                await setData(db, "messages", encryptedMsgHistory, username);
            }
            catch {

            }
        }

        else if (message["type"] === "response") {
            alert(`${message["content"]}. No friend requests were sent.`);
        }

        else if (message["type"] === "update_members") {
            const res = await axios.get(`/members/${roomId}`);
            const members = res.data["message"];

            const roomMembers = document.getElementById("roomMembers");
            roomMembers.innerHTML = "";

            for (const member of members) {
                if (roomOwner === username) {
                    roomMembers.innerHTML += `<li id="user_${member.username}">
                        <p style="display: inline"></p>
                        <button class="danger" onclick="removeUser(${roomId}, '${member.username}')">Remove User</button>
                    </li>`; 
                }
                else {
                    roomMembers.innerHTML += `<li id="user_${member.username}">
                        <p style="display: inline"></p>
                    </li>`;  
                }
                roomMembers.innerHTML += `<li id="user_${member.username}"><p style="display: inline"></p></li>`;
                const memberElement = document.getElementById(`user_${member.username}`);
                memberElement.querySelector("p").textContent = member.username;
            }
        }

        else if (message["type"] === "update_key") {
            const res = await axios.get(`/members/${roomId}`);
            const members = res.data["message"];

            for (const member of members) {
                if (member.username === message["content"]) {
                    const pkMaterial = new Uint8Array(member.public_key);
                    const publicKey = await crypto.subtle.importKey(
                        'spki',
                        pkMaterial,
                        {
                            name: 'ECDH',
                            namedCurve: "P-256"
                        },
                        true,
                        []
                    );
                    const sharedKey = await deriveSharedSecret(privateKey, publicKey);
                    sharedSecretKeys[member.username] = sharedKey;
                }
            }
        }

        else if (message["type"] === "broadcast") {
            const online_users = message["content"];

            document.querySelectorAll('.status').forEach(function(status) {
                status.classList.replace('online', 'offline');
                status.textContent = 'Offline';
            });

            online_users.forEach(function(user) {
                var statusElement = document.getElementById('status_' + user);
                if (statusElement) {
                    statusElement.classList.replace('offline', 'online');
                    statusElement.textContent = 'Online';
                }
            });
        }
    }

    // scroll to the bottom of the messages
    function scrollToBottom() {
        const messageBox = document.getElementById("messageBox");
        messageBox.scrollTop = messageBox.scrollHeight;
    }

    // send password to server to verify that it belongs to the user
    async function verifyPassword() {
        const password = document.getElementById("password").value;

        const res = await axios.post("/auth/verify_password/", {
            "password": password
        },{
            validateStatus: function (status) {
                return status === 200 || status === 403;
            }
        });

        if (res.status === 200) {            
            document.getElementById("chatContainer").style.display = "flex";
            document.getElementById("getPassword").style.display = "none";

            const db = await openDatabase();
            const keyData = await getData(db, "keys", username);

            // use the key data if saved in IndexedDB, otherwise generate new ones
            if (!keyData) {
                salt = generateRandomBytes(16);
                iv = generateRandomBytes(12);
            }
            else {
                for (let data of keyData["content"]) {
                    if (data["type"] === "salt") {
                        salt = data["content"];
                    } else if (data["type"] === "iv") {
                        iv = data["content"];
                    } else if (data["type"] === "private") {
                        privateKey = data["content"];
                    }
                }
            }

            // imports the user's password for use by KDF
            const keyMaterial = await crypto.subtle.importKey(
                "raw", 
                new TextEncoder().encode(password),
                { name: 'PBKDF2' },
                false, 
                ["deriveBits", "deriveKey"]
            );
            
            // derive a key from the user's password
            pwdDerivedKey =  await crypto.subtle.deriveKey(
                {
                    name: "PBKDF2",
                    salt: salt,
                    iterations: 100000,
                    hash: "SHA-256",
                },
                keyMaterial,
                { name: "AES-GCM", length: 256 },
                true,
                ["encrypt", "decrypt"],
            );
            
            const indexDBMessages = await getData(db, "messages", username);
            let msgHistory = [];
            
            // decrypt all the messages saved in IndexDB if it exists
            if (indexDBMessages) {
                if (indexDBMessages["content"]) {
                    msgHistory = await decryptMsgHistory(indexDBMessages["content"], pwdDerivedKey, iv);
                }
            }
            else {
                await addData(db, "messages", {"id": username, "content": ""});
            }
            
            // retrieve all the messages stored on the server that were sent to the client while offline
            const messages_res = await axios.get("/history");
            const messages = messages_res.data["messages"];

            // decrypt the private ECDH key stored in IndexDB and decrypt the messages stored on the server
            if (Object.keys(messages).length > 0) {            
                privateKey = await decryptPrivateKey(privateKey, pwdDerivedKey, iv);

                for (let message of messages) {
                    try {
                        const otherPkMaterial = new Uint8Array(message["public_key"]); 
                        const msgIv = new Uint8Array(JSON.parse(message["iv"]));
                        const content = new Uint8Array(JSON.parse(message["content"]));

                        const otherPublicKey = await crypto.subtle.importKey(
                            'spki',
                            otherPkMaterial,
                            {
                                name: 'ECDH',
                                namedCurve: "P-256"
                            },
                            true,
                            []
                        );
                        const sharedKey = await deriveSharedSecret(privateKey, otherPublicKey);

                        const msg = await decryptMessage(sharedKey, msgIv, content);

                        message["content"] = msg;
                        msgHistory.push(message);
                    }
                    catch {

                    }
                }

                // append the decrypted messages and the messages stored within IndexDB
                // then encrypt the new message history and store it on IndexDB
                const encryptedMsgHistory = await encryptMsgHistory(msgHistory, pwdDerivedKey, iv);
                await setData(db, "messages", encryptedMsgHistory, username);
            }
            
            // display all messages in the message history to the user
            for (let message of msgHistory) {
                if (message["room_id"] === parseInt(roomId)) {
                    addMessage(message["sender"], message["content"]);
                }
            }

            // generate a new key pair and store the private key on IndexDB and public key on the database
            const keyPair = await generateKeyPair();
            const encryptedPrivate = await encryptPrivateKey(keyPair.privateKey, pwdDerivedKey, iv);

            privateKey = keyPair.privateKey;
            
            if (!keyData) {
                await addData(db, "keys", {"id": username, "content": [
                    {"type": "salt", "content": salt}, 
                    {"type": "iv", "content": iv}, 
                    {"type": "private", "content": encryptedPrivate}
                ]});
            } else {
                await setData(db, "keys", [
                    {"type": "salt", "content": salt}, 
                    {"type": "iv", "content": iv}, 
                    {"type": "private", "content": encryptedPrivate}
                ], username);
            }

            const exported = await crypto.subtle.exportKey(
                'spki',
                keyPair.publicKey
            );
            
            await axios.post("/key/save/", {
                "public_key": Array.from(new Uint8Array(exported))
            });

            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({"type": "pk_key_change"}));
            }

            await join_room();

            const res = await axios.get(`/members/${roomId}`);
            const members = res.data["message"];

            for (const member of members) {
                const pkMaterial = new Uint8Array(member.public_key);
                const publicKey = await crypto.subtle.importKey(
                    'spki',
                    pkMaterial,
                    {
                        name: 'ECDH',
                        namedCurve: "P-256"
                    },
                    true,
                    []
                );
                const sharedKey = await deriveSharedSecret(privateKey, publicKey);
                sharedSecretKeys[member.username] = sharedKey;
            }

            // if the room type is a direct message chat with another user (roomType = False)
            // display the other user's details in the aside element
            // otherwise if the room is a group chat, display all the users in the group chat
            // giving the owner of the group chat the ability to remove members
            if (roomType === "False") {
                const friendInfo = document.getElementById("friendInfo");

                friendInfo.innerHTML += `<h3 id="friendName"></h3>
                    <h4 id="friendUsername"></h4>
                    <p>About me:</p>
                    <p id="about"></p>`;

                const friendName = document.getElementById("friendName");
                const friendUsername = document.getElementById("friendUsername");
                const about = document.getElementById("about");

                if (members[0].username === username) {
                    friendName.textContent = members[1].first_name + " " + members[1].last_name;
                    friendUsername.textContent = members[1].username;
                    about.textContent = members[1].about;
                }
                else {
                    friendName.textContent = members[0].first_name + " " + members[0].last_name;
                    friendUsername.textContent = members[0].username;
                    about.textContent = members[0].about;
                }
            }
            else {
                const roomMembers = document.getElementById("roomMembers");

                for (const member of members) {
                    if (roomOwner === username) {
                        roomMembers.innerHTML += `<li id="user_${member.username}">
                            <p style="display: inline"></p>
                            <button class="danger" onclick="removeUser(${roomId}, '${member.username}')">Remove User</button>
                        </li>`; 
                    }
                    else {
                        roomMembers.innerHTML += `<li id="user_${member.username}">
                            <p style="display: inline"></p>
                        </li>`;  
                    }
                    roomMembers.innerHTML += `<li id="user_${member.username}"><p style="display: inline"></p></li>`;
                    const memberElement = document.getElementById(`user_${member.username}`);
                    memberElement.querySelector("p").textContent = member.username;
                }
            }

            scrollToBottom();
        }
        else {
            alert(res.data["message"]);
        }
    }

    // add a user to a list of users that the room owner may add to the group chat
    function addUser(event) {
        event.preventDefault();
        
        const users = document.getElementById("groupUsers");
        const userInput = document.getElementById("userToAdd");
        
        if (userInput.value) {
            const user = document.createElement('li');

            const p = document.createElement('p');
            p.textContent = userInput.value;
            p.style = "display: inline";

            user.appendChild(p);

            const button = document.createElement('button');
            button.textContent = "Remove"
            button.style.marginLeft = "10px";
            button.onclick = function() {
                users.removeChild(user);
            }

            user.appendChild(button);
            users.appendChild(user);

            userInput.value = "";
        }
    }

    // add all the users in the list of users to the group chat
    function addUsersToGroupChat() {
        const groupChatUsers = document.getElementById('groupUsers');
        const userListItems = groupChatUsers.getElementsByTagName("li");

        const users = [];
        for (let item of userListItems) {
            users.push(item.querySelector("p").textContent);
        }

        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify({"type": "add_member", "content": {
                "users_to_add": users,
                "room_id": roomId
            }}));
            
            groupChatUsers.innerHTML = "";
        }
    }

    // allow the owner to remove a current member from the group chat
    function removeUser(roomId, username) {
        if (socket.readyState === WebSocket.OPEN) {
            const confirmation = confirm(`Are you sure you want to remove ${username} from this chat room?`);
            if (confirmation) {
                socket.send(JSON.stringify({"type": "remove_member", "content": {
                    "user_to_remove": username,
                    "room_id": roomId
                }}));
            }
        }
    }

    // remove yourself self from the group chat
    function removeFriend(event, roomId) {
        if (socket.readyState === WebSocket.OPEN) {
            const confirmation = confirm("Are you sure you want to leave this chat room?");

            if (confirmation) {
                socket.send(JSON.stringify({"type": "remove_room_member", "content": {"room_id": parseInt(roomId)}}));

                room = document.getElementById(`room_${roomId}`);
                if (room) {
                    room.remove();
                }
            }
        }
        event.stopPropagation();
    }

    // we'll send the message to the server by emitting a "send" event
    async function send() {
        const messageElement = document.getElementById("writeMessage");
        const message = messageElement.value;
        messageElement.value = "";

        if (message.trim()) {
            for (const member in sharedSecretKeys) {
                const { encrypted, msgIv } = await encryptMessage(message, sharedSecretKeys[member]);
                socket.send(JSON.stringify({"type": "send_msg", "content": {
                    "message": Array.from(new Uint8Array(encrypted)), 
                    "receiver": member,
                    "room_id": parseInt(roomId), 
                    "iv": Array.from(new Uint8Array(msgIv))
                }}));
            }

            scrollToBottom();
        }
    }

    // send a join room event to the server to join the room specified in url
    async function join_room() {
        socket.send(JSON.stringify({"type": "join_room", "content": {"room_id": roomId}}));
    }

    // function to add a message to the message box once a message has been received and decrypted
    function addMessage(sender, message) {
        const messageBox = document.getElementById("messageBox");
        
        const msgContainer = document.createElement("div");

        const msgElement = document.createElement("p");
        msgElement.textContent = message;
        msgElement.className = "message";

        if (sender === username) {
            msgContainer.style.float = "left";
            msgElement.classList.add("sender");
            sender = "You";
        }
        else {
            msgContainer.style.marginLeft = "auto";
            msgElement.classList.add("receiver");
        }
        
        const senderElement = document.createElement("h4");
        senderElement.textContent = sender;

        const breakElement = document.createElement("br");
        
        msgContainer.append(senderElement);
        msgContainer.append(msgElement);

        messageBox.append(msgContainer);
        messageBox.append(breakElement);
    }
</script>

{% endblock %}