{% extends 'base.html' %}

{% block content %}
    <form class="login-signup">
        <h1>Login</h1>
        <p>Username</p>
        <input id="username"/>
        <p>Password</p>
        <input id="password"  type="password"/>
        <br>
        <br>
        <button onclick="login(event)">Login</button>

        <br>
        <br>

        <a href="/auth/signup" style="text-decoration: underline;">Do not have an account?</a>
    </form>

    <script>
        document.addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {
                login();
            }
        });
        
        /**
         * Attempts to the log the user in.
         */
        async function login() {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            // axios post the username and password to the server
            const res = await axios.post("/auth/login/", {
                "username": username,
                "password": password
            }, {
                validateStatus: function (status) {
                    return status === 200 || status === 403;
                }
            });

            // if the server sends in an error message, alert() the error message
            if (res.status === 200) {
                const db = await openDatabase();
                const keyData = await getData(db, "keys", username);

                let salt;
                let iv;
                let privateKey;

                // use the key data if saved in IndexedDB, otherwise generate new ones
                if (!keyData) {
                    salt = generateRandomBytes(16);
                    iv = generateRandomBytes(12);
                }
                else {
                    for (let data of keyData["content"]) {
                        if (data["type"] === "salt") {
                            salt = data["content"];
                        } else if (data["type"] === "iv") {
                            iv = data["content"];
                        } else if (data["type"] === "private") {
                            privateKey = data["content"];
                        }
                    }
                }

                // imports the user's password for use by KDF
                const keyMaterial = await crypto.subtle.importKey(
                    "raw", 
                    new TextEncoder().encode(password),
                    { name: 'PBKDF2' },
                    false, 
                    ["deriveBits", "deriveKey"]
                );
                
                // derive a key from the user's password
                const pwdDerivedKey =  await crypto.subtle.deriveKey(
                    {
                        name: "PBKDF2",
                        salt: salt,
                        iterations: 100000,
                        hash: "SHA-256",
                    },
                    keyMaterial,
                    { name: "AES-GCM", length: 256 },
                    true,
                    ["encrypt", "decrypt"],
                );
                
                const indexDBMessages = await getData(db, "messages", username);
                let msgHistory = [];
                
                // decrypt all the messages saved in IndexDB if it exists
                if (indexDBMessages) {
                    if (indexDBMessages["content"]) {
                        msgHistory = await decryptMsgHistory(indexDBMessages["content"], pwdDerivedKey, iv);
                    }
                }
                else {
                    await addData(db, "messages", {"id": username, "content": ""});
                }
                
                // retrieve all the messages stored on the server that were sent to the client while offline
                const messages_res = await axios.get("/history");
                const messages = messages_res.data["messages"];

                // decrypt the private ECDH key stored in IndexDB and decrypt the messages stored on the server
                if (Object.keys(messages).length > 0) {            
                    privateKey = await decryptPrivateKey(privateKey, pwdDerivedKey, iv);

                    for (let message of messages) {
                        try {
                            const otherPkMaterial = new Uint8Array(message["public_key"]); 
                            const msgIv = new Uint8Array(JSON.parse(message["iv"]));
                            const content = new Uint8Array(JSON.parse(message["content"]));

                            const otherPublicKey = await crypto.subtle.importKey(
                                'spki',
                                otherPkMaterial,
                                {
                                    name: 'ECDH',
                                    namedCurve: "P-256"
                                },
                                true,
                                []
                            );
                            const sharedKey = await deriveSharedSecret(privateKey, otherPublicKey);

                            const msg = await decryptMessage(sharedKey, msgIv, content);

                            message["content"] = msg;
                            msgHistory.push(message);
                        }
                        catch {

                        }
                    }

                    // append the decrypted messages and the messages stored within IndexDB
                    // then encrypt the new message history and store it on IndexDB
                    const encryptedMsgHistory = await encryptMsgHistory(msgHistory, pwdDerivedKey, iv);
                    await setData(db, "messages", encryptedMsgHistory, username);
                }

                 // generate a new key pair and store the private key on IndexDB and public key on the database
                const keyPair = await generateKeyPair();
                const encryptedPrivate = await encryptPrivateKey(keyPair.privateKey, pwdDerivedKey, iv);

                if (!keyData) {
                    await addData(db, "keys", {"id": username, "content": [
                        {"type": "salt", "content": salt}, 
                        {"type": "iv", "content": iv}, 
                        {"type": "private", "content": encryptedPrivate}
                    ]});
                } 
                else {
                    await setData(db, "keys", [
                        {"type": "salt", "content": salt}, 
                        {"type": "iv", "content": iv}, 
                        {"type": "private", "content": encryptedPrivate}
                    ], username);
                }

                const exported = await crypto.subtle.exportKey(
                    'spki',
                    keyPair.publicKey
                );
                
                await axios.post("/key/save/", {
                    "public_key": Array.from(new Uint8Array(exported))
                });
                
                document.location.href = res.data["message"];
            }
            else {
                alert(res.data["message"]);
            }
        }
    </script>
{% endblock %}