{% extends 'base.html' %}

{% load static %}

{% block content %}
    <form class="login-signup"> 
        <h1>Sign Up</h1>
        <p>Username</p>
        <input id="username"/>
        <p>Password</p>
        <p>
            Ensure that the password is at least 8 characters long, 
            has at least one capital and lowercase <br>letter, has at least
            one numerical digit and has at least one special character.
        </p>
        <input id="password" type="password"/>
        <p>First name</p>
        <input id="first_name"/>
        <p>Last name</p>
        <input id="last_name"/>
        <p>Something about you (optional)</p>
        <textarea id="about" rows="4" cols="50" style="resize: none;"></textarea>
        <br>
        <br>
        <button onclick="signup(event)">Sign up</button>
        
        <br>
        <br>

        <a href="/auth/signin" style="text-decoration: underline;">Already have an account?</a>
    </form>

    <script>
        async function signup(event) {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const firstName = document.getElementById("first_name").value;
            const lastName = document.getElementById("last_name").value;
            const about = document.getElementById("about").value; 

            let res = await axios.post('/auth/register/', {
                "username": username,
                "password": password,
                "first_name": firstName,
                "last_name": lastName,
                "about": about
            }, {
                validateStatus: function (status) {
                    return status === 200 || status === 400;
                }
            });

            if (res.status === 200) {
                const db = await openDatabase();

                const salt = generateRandomBytes();
                const iv = generateRandomBytes();

                // imports the user's password for use by KDF
                const keyMaterial = await crypto.subtle.importKey(
                    "raw", 
                    new TextEncoder().encode(password),
                    { name: 'PBKDF2' },
                    false,
                    ["deriveBits", "deriveKey"]
                );
                
                // derive a key from the user's password
                const pwdDerivedKey =  await crypto.subtle.deriveKey(
                    {
                        name: "PBKDF2",
                        salt: salt,
                        iterations: 100000,
                        hash: "SHA-256",
                    },
                    keyMaterial,
                    { name: "AES-GCM", length: 256 },
                    true,
                    ["encrypt", "decrypt"],
                );

                const keyPair = await generateKeyPair();
                const encryptedPrivate = await encryptRSAKey(keyPair.privateKey, pwdDerivedKey, iv);

                await addData(db, "keys", {"id": username, "content": [
                    {"type": "salt", "content": salt}, 
                    {"type": "iv", "content": iv}, 
                    {"type": "private", "content": encryptedPrivate}
                ]});

                await addData(db, "messages", {"id": username, "content": ""});

                const exported = await crypto.subtle.exportKey(
                    'spki',
                    keyPair.publicKey
                );
                
                await axios.post("/key/save/", {
                    "public_key": Array.from(new Uint8Array(exported))
                });

                document.location.href = res.data["message"];
            }
            else {
                let errorMsg = "";
                for (let userField in res.data["message"]) {
                    errorMsg += userField + ": " + res.data["message"][userField][0] + "\n";
                }
                alert(errorMsg);
            }
        }
    </script>
{% endblock %}